<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='css/style.css' type='text/css' />
    <link rel='stylesheet' href='css/tableStyle.css' type='text/css' />
</head>

<body>
    <div id="favorites-app">
        <user-navbar></user-navbar>

    <div style="padding-left:16px">
        <h2>PREFERITI</h2>
        <p>Questa è la pagina PREFERITI del sito!</p>
    </div>
    
    <div style="overflow-x:auto;" v-cloak>
        
        <div style="padding-left:16px">
            <h2>Sconto Utente: {{ userDiscount }} %</h2>
        </div>
        
      <table>
        <tr>
          <th>Codice</th>
          <th>Nome</th>
          <th>Prezzo Unitario</th>
          <th>Sconto</th>
          <th>Prezzo Scontato</th>
          <th>Rimozione da Preferiti</th>
          <th>Aggiunta a Carrello</th>
        </tr>
        <tr v-for="element in favorites">
            <td>{{ element.productId}}</td>
            <td>{{ element.productName}}</td>
            <td>{{ element.price}} ‎€</td>
            <td><a v-if="element.discount > 0">{{ element.discount }}% + </a><a>{{ userDiscount }}%</a></td>
            <td>{{ (((element.price - ((element.price * element.discount) / 100)) - (((element.price - (((element.price * element.discount) / 100))) * userDiscount) / 100)) * element.quantity) | round }} €</td>
            <td><button class="tableCart" href="#" @click.prevent="removeFromFavorites(element)" style="width:auto;">Rimuovi dai Preferiti</button></td>
            <td><button class="tableCart" href="#" @click.prevent="addToCart(element)" style="width:auto;">Aggiungi al Carrello</button></td>
        </tr>
      </table>
    </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/src/scripts/usersScript.js"></script>
    <script src="/src/scripts/favoritesScript.js"></script>
</body>
</html>


