<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='css/style.css' type='text/css' />
    <link rel='stylesheet' href='css/tableStyle.css' type='text/css' />
</head>

<body>
    <div id="products-app">
        <user-navbar></user-navbar>
    
    <h2 style="padding-left:16px">Risultato Ricerca</h2>

    <div style="overflow-x:auto;" v-cloak>
        <h3 v-if="discounted > 0" style="padding-left:16px">Prodotti in Sconto</h2>
            <table v-if="discounted > 0">
              <tr>
                <th>Codice</th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Sconto</th>
                <th>Prezzo Scontato</th>
                <th>Aggiunta a Preferiti</th>
                <th>Aggiunta a Carrello</th>
              </tr>
              <tr v-for="product in productsDiscounted" :key="products._id">
                  <td>{{ product.code}}</td>
                  <td>{{ product.name}}</td>
                  <td>{{ product.description}}</td>
                  <td>{{ product.price}} €</td>
                  <td>{{ product.discount}} %</td>
                  <td>{{ product.price - (product.price * product.discount) / 100}} €</td>
                  <td><button class="tableCart" href="#" @click.prevent="addToFavorites(product)" style="width:auto;">Aggiungi ai Preferiti</button></td>
                  <td><button class="tableCart" href="#" @click.prevent="addToCart(product)" style="width:auto;">Aggiungi al Carrello</button></td>
              </tr>
            </table>
        <h3 style="padding-left:16px" v-if="discounted > 0">Altri Prodotti</h2>
      <table>
        <tr>
          <th>Codice</th>
          <th>Nome</th>
          <th>Descrizione</th>
          <th>Prezzo</th>
          <th>Aggiunta a Preferiti</th>
          <th>Aggiunta a Carrello</th>
        </tr>
        <tr v-for="product in productsNoDiscount" :key="products._id">
            <td>{{ product.code}}</td>
            <td>{{ product.name}}</td>
            <td>{{ product.description}}</td>
            <td>{{ product.price}} €</td>
            <td><button class="tableCart" href="#" @click.prevent="addToFavorites(product)" style="width:auto;">Aggiungi ai Preferiti</button></td>
            <td><button class="tableCart" href="#" @click.prevent="addToCart(product)" style="width:auto;">Aggiungi al Carrello</button></td>
        </tr>
      </table>
    </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/src/scripts/usersScript.js"></script>
    <script src="/src/scripts/searchProductsScript.js"></script>
</body>
</html>


